@font-face {
	font-family: caslonReg;
	src: url(caslonReg.otf);
}

h1 {
	font-family: caslonReg;
	color: #003C43;
	text-align: center;
	font-size: 3em;
}

body {
	min-height: 100vh;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom, #F1EEDC, #E5DDC5);
}
